/* Start of media queries */

@media screen and (max-width: 37.8125em) {
	.align > li {
		width: 100%;
		min-height: 440px;
		height: auto;
		padding: 0;
		margin: 0 0 30px 0;
	}

	.book {
		margin: 1em auto;
	}

	figcaption {
		text-align: center;
		width: 320px;
		top: 250px;
		padding-left: 0;
		left: -80px;
		font-size: 90%;
	}
}

@media only screen and (min-width: 800px) and (max-width: 1120px) {

	.reviews {
	display: none;
}
}

@media only screen and (max-width: 799px) {

.team_member {
	display: none;
}
#mainnav {
	width: auto;
	margin: auto;
}

#cloud1, #cloud2, #cloud3 {
	display: none;
}

#mobilebox {
	display: block;
	line-height: 2em;
}

#namelogo {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#bookslogo {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#writinglogo {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#aboutlogo {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

footer {
	display: none;
}

.book {
	display: none;
}
.reviews {
	display: none;
}
#mobilebook {
	display: block;
}

.container {
	display: none;
}
}




















/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

