html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
	margin: 0;
	padding: 0;
	font-family: 'Myriad';
	font-size: 20px;
}

nav {
	text-align: center;
	text-decoration: none;
}

nav2 {
	float: right;
	text-decoration: none;
  	color: #4f4a4a;
  	margin: 100px;
  	display: inline-block;
}

nav2 a {
  text-decoration: none;
  color: black;
  margin: 50px;
  display: inline-block;
}

#namelogo2 {
	text-align: center;
	margin: 0;
}

#writerlogo {
	text-align: center;
	margin-top: 0px;
}

h1 {
	font-family: 'Myriad';
	color: #4f4a4a;
	font-size: 150px;
	font-weight: 800;
  	text-transform: uppercase;
  	display: inline-block;
  	margin-top: 20px;
  	margin-left: 20px
}

#booknews {
	margin-left: 20;
	border: 20px;
	margin: 20px;
	padding: 20px;
}

#about {
	font-family: 'Myriad';
	background-color: #4f4a4a;
	color: #FFFFFF;
	font-size: 20px;
  	width: 30%;
  	display: inline-block;
  	border: 20px;
	margin: 20px;
	padding: 20px;
	clear: both;
	float: right;
}

#reviews {
	font-family: 'Myriad';
	background-color: #4f4a4a;
	color: #FFFFFF;
	font-size: 20px;
  	width: 30%;
  	display: inline-block;
  	border: 20px;
	margin: 20px;
	padding: 20px;
	clear: both;
}

