html { 
  background: uno-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
	margin: 0;
	padding: 0;
	font-family: 'Lucida Bright';
	font-size: 20px;
}


footer {
	margin-top: 20%;
	margin-left: 50px;
	font-family: Lucida Bright;
	font-size: 15px;
	text-align: center;
	color: gray;
}
nav {
	text-align: center;
	text-decoration: none;
  	color: black;
  	margin: 0 auto;
  	border: 0;
  	font-size: 17px;
  	display: block;
  	font-weight: bold;
}

a:hover {
	color: red;
}

nav a   {
text-decoration: none;
  color: black;
  display: inline-block;
  padding-right: 0px;
}

nav2 {
	text-decoration: none;
	font-size: 25px;
  	color: #4f4a4a;
  	display: block;
  	margin: 0;
  	text-align: center;
}

nav2 a {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-right: 25px;
  text-align: center;
}

nav3 {
	text-align: right;
	text-decoration: none;
	margin-right: 10%;
  	color: black;
  	display: block;
  	font-weight: bold;
}

a:hover {
	color: red;
}

nav3 a {
  text-decoration: none;
  color: black;
}

.columns {
	margin-left: 20px
	border: 20px;
  	overflow: hidden;
}

.column {
  float: left;
  width: 25%;
  padding: 20px;
  margin-left: 20px;
  font-style: italic;
  font-family: 'Lucida Bright';
  font-size: 15px;
  line-height: 130%;
}

.column2 {
	margin-left: 3%;
  	overflow: hidden;
  	float: left;
  	padding-bottom: 20px;
  	font-family: 'Lucida Bright';
  	font-size: 15px;
  	position: relative;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	width: 25%;
}
#namelogo {
	text-align: center;
	margin: 0;
	border: 0;
	padding: 0;
}

#writinglogo {
	text-align: center;
	margin: 0;
	border: 0:
	padding: 0;
}

#writerlogo {
	text-align: center;
	margin: 0;
	border: 0:
	padding: 0;
	clear: both;
}

#aboutlogo {
	text-align: center;
	margin: 0;
}

#bookslogo {
	text-align: center;
	margin: 0;
	border: 0;
	padding: 0;
}

#container {
	margin-left: 150px;
	font-size: 17px;
	margin-right: 30px;
}

#booktext {
	margin-left: 20%;
	margin-right: 20%;
	font-family: 'Lucida Bright';
	font-size: 17px;
}

#reviews {
	font-style: italic;
}

hr { 
	clear: both;
	color: gray; 
	background: gray; 
	width: 75%; 
	height: 5px;
	margin-top: 10px;

}

main {
	text-align: center;
	margin-left: 13%;
}

ul {
	text-align: left;
	list-style:square;
	position:relative;
	float:left;
	margin:0;

}

ul a
{
	display:block;
	color: gray;
	text-decoration:none;
	font-weight:700;
	font-size:15px;
	line-height:32px;
	padding:0px;
	}

ul li:hover
{
	background:#f6f6f6
}

#methven {
	height: 200px;
	width: 200px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	margin-left: 25%;
}

#arrows {
	height: 200px;
	width: 200px;
	margin-left: 30%;
	float: left;
}
#bio {
	line-height: 25px;
	margin-left: 50px;
	margin-right: 150px;
	border: 5px;
	padding: 15px;
	font-size: 17px;
	border-style: solid;
	border-color: gray;
	display: inline-block;
	float: right;
    position: absolute;
    width: 400px;
}

#container1 {
    width: 100%;
    display: inline-block;
}

#container2 {
    width: 100%;
    margin-left: 30%;
    text-decoration:none;
  	font-size: 17px;
  	display: block
  	padding: 20px;
}

a {
	  text-decoration:none;
	  padding-left: 10px;
	  margin-left: 20px;
	  color: black;
}
img {
	margin-right: 20px;
	margin-top: 10px;
}

h1 {
	font-size: 20px;
	text-transform: uppercase;
	font-family: Lucida Bright;
	color: gray;
	font-weight: 300;
	text-align: center;
	border: 1px solid;
	border-color: black;
	padding: 2px;
	margin: 10px;
}
h3 {margin-left: 30px;
	font-size: 20px;

}

p1 {
	margin-left: 30px;
}

#aboutcontainer {
	text-align: center;
}






