html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	background-repeat: no-repeat;
	background-size: cover;
	border: 0;
	margin: 0;
	padding: 0;
	font-family: 'Myriad Pro';
	font-size: 20px;
}

nav {
	text-align: center;
	text-decoration: none;
  	color: #FFFFFF;
  	margin: 0 auto;
  	font-size: 25px;
  	display: block;
}

a:hover {
	color: red;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
  margin: 10px;
  display: inline-block;
}

nav2 {
	float: right;
	text-decoration: none;
  	color: #4f4a4a;
  	margin: 10px;
  	display: inline-block;
}

nav2 a {
  text-decoration: none;
  color: black;
  margin: 10px;
  display: inline-block;
}

#namelogo {
	text-align: center;
	margin: 0;
}

#writerlogo {
	text-align: center;
	margin-top: 0px;
}

h1 {
	font-family: 'Myriad';
	color: #4f4a4a;
	font-size: 100px;
	font-weight: 800;
  	text-transform: uppercase;
  	display: inline-block;
  	margin-top: 20px;
  	margin-left: 20px
}

#section {
	float: left;
	border: 20px;
	margin: 20px;
	padding: 20px;
	font-family: 'Myriad';
	background-color: #4f4a4a;
	color: #FFFFFF;
	font-size: 20px;
  	width: 42%;
 
  
}
#strangeboat {
	margin: 5px;
	text-align: center;

	}
#captain {
	margin: 5px;
	text-align: center;
}
#section2 {
	float: right;
	border: 20px;
	margin: 20px;
	padding: 20px;
	font-family: 'Myriad';
	background-color: #4f4a4a;
	color: #FFFFFF;
	font-size: 20px;
  	width: 42%;
}

#reviews {
	font-style: italic;
}

#section3 {
	border: 20px;
	margin: 20px;
	padding: 20px;
	font-family: 'Myriad';
	background-color: #4f4a4a;
	color: #FFFFFF;
	font-size: 20px;
  	width: 95%;
}







#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:20px;
	line-height:32px;
	padding:0 15px;
	}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:400px
}

#primary_nav_wrap ul ul a
{
	line-height:100%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}





#primary_nav_wrap2
{
	margin-top:15px
}

#primary_nav_wrap2 ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap2 ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:20px;
	line-height:32px;
	padding:0 15px;
	}

#primary_nav_wrap2 ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap2 ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap2 ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap2 ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap2 ul ul li
{
	float:none;
	width:400px
}

#primary_nav_wrap2 ul ul a
{
	line-height:100%;
	padding:10px 15px
}

#primary_nav_wrap2 ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap2 ul li:hover > ul
{
	display:block
}

#about {
	display: block;
    margin-left: auto;
    margin-right: auto;
}